<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Pelicula</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <form action="/pelicula/crear-pelicula" method="POST">
            <h1>Crear Pelicula</h1>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label for="nombre">Nombre</label>
                        </div>
                        <div>
                            <label for="anioLanzamiento">Año de Lanzamiento</label>
                        </div>
                        <div>
                            <label for="rating">Rating</label>
                        </div>
                        <div>
                            <label for="actoresPrincipales">Actores Principales</label>
                        </div>
                        <div>
                            <label for="sinopsis">Sinopsis</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <input class="form-control" type="text" id="nombre" name="nombre">
                        </div>
                        <div>
                            <input class="form-control" type="number" id="anioLanzamiento" name="anioLanzamiento">
                        </div>
                        <div>
                            <input class="form-control" type="number" id="rating" name="rating">
                        </div>
                        <div>
                            <input class="form-control" type="text" id="actoresPrincipales" name="actoresPrincipales"
                                min=1>
                        </div>
                        <div>
                            <textarea class="form-control" cols="30" rows="5" id="sinopsis" name="sinopsis"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button>Crear</button>
                </div>
            </div>
        </form>
        <div class="row">
            <a href="/actor/crear-actor">
                <button>Regresar</button></a>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>