<!Doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>USUARIO</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-3 titulo"></div>
        <div class="col-md-5 titulo">
            <h1 align="center">REGISTRO DE USUARIO</h1>
        </div>
        <div class="col-md-4 titulo"></div>
    </div>
    <br>
    <div class="row">
          <div class="col-md-4 titulo">
            <h2>Ingresa los datos</h2>
        </div>

    </div>
    <br>

        <div class="row">

                <div class="col-md-2 titulo">
                <form action="crear-usuario" method="Post">
                       
                    <div >
                        <label for="nombre">Nombre</label>
                    </div>

                    <div>
                        <label for="email">Correo</label>
                    </div>

                    <div>
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    </div>

                    <div>
                        <label for="password">Password</label>
                    </div>


                    <div class="col-sm-1 text-center">
                        <button class="btn btn-outline-info ">Registrar</button>
                    </div>
                </form>
                </div>
            <div class="col-md-6">
                <div >

                    <input id="nombre" type="text" name="nombre">
                </div>


                <div>

                    <input id="email" type="text" name="email">
                </div>

                <div>

                    <input id="fecha_nacimiento" type="date" min="1900-01-01" max="2019-01-31" name="fecha_nacimiento" >
                </div>

                <div>

                    <input id="password" type="password" name="password">
                </div>

            </div>

           
        </div>



</div>
        <script src="/js/jquery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>