<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mapa básico</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>
        #map {
            width: 100%px;
            height: 380px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVGMt1QSi0e4ZTZzG-pjN-bxvfzD9h0Rc"></script>
    <script>
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var labelIndex = 0;
        function inicializar() {
            var mapa = {
                center: new google.maps.LatLng(-0.2101813, -78.4908799),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), mapa);

            infoWindow = new google.maps.InfoWindow;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
            google.maps.event.addListener(map, 'click', function (event) {

                document.getElementById("latitud").value = event.latLng.lat()
                document.getElementById("longitud").value = event.latLng.lng();
                addMarker(event.latLng, map);
            });
            addMarker(bangalore, map);
        }
        function addMarker(location, map) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            var marker = new google.maps.Marker({
                position: location,
                label: labels[labelIndex++ % labels.length],
                map: map
            });
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
        google.maps.event.addDomListener(window, 'load', inicializar);

    </script>
</head>

<body>
    <div class="container">
        <form action="/evento/crear-evento" method="POST">
            <h1>Crear Evento</h1>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label for="nombre">Nombre</label>
                        </div>
                        <div>
                            <label for="fecha">Fecha</label>
                        </div>
                        <div>
                            <label for="latitud">Latitud</label>
                        </div>
                        <div>
                            <label for="longitud">Longitud</label>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div>
                            <input class="form-control" type="text" id="nombre" name="nombre">
                        </div>
                        <div>
                            <input class="form-control" type="date" id="fecha" name="fecha">
                        </div>
                        <div>
                            <input class="form-control" id="latitud" name="latitud">
                        </div>
                        <div>
                            <input class="form-control" id="longitud" name="longitud">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div>
                        <button>Crear</button>
                    </div>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Escojer Peliculas para el Evento
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Peliculas</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-check">
                                       
                                        <div>
                                            <input class="form-check-input" type="checkbox" value="" id="pelicula">
                                            <label class="form-check-label" for="pelicula">
                                       
                                            </label>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <div id="map"></div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script>
        $(function () {
            $('.popover-contenido').popover({
                container: 'body'
            })
        })
    </script>
</body>

</html>