<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pelicula</title>
</head>
<body>
    <div class="conatiner-fluid">
        <div class="row">
            <h1>Nombre</h1>
            <h2>Año de Lanzamiento</h2>
            <h3>Rating</h3>
            <h4>Actores Principales</h4>
            <h5>Sipnosis</h5>
        </div>
    </div>
</body>
</html>