<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ver Peliculas</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <br>
            <h1>Eventos</h1>
        <% const arreglo = typeof tam === "undefined"%>
        <div class="row">
           <%= tam.id
           
           %>
            <div class="col-sm-4">
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                               
                            </div>
                            <div class="card-body text-info">
                              <h5 class="card-title">Info card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
            </div>
           
        </div>
    </div>
</body>
</html>